body {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.1em;
    color: red;
    user-select: none;
}

.title {
    color: black;
    text-align: center;
    margin: auto;
    width: 50%;
    justify-content: center;
}

.game-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats {
    font-size: 14px;
    padding: 1em;
    width: 250px;
    font-size: 25px;
}

.asteroid {
    width: 300px;
    padding: 30px;
    transition: transform .2s; /* Animation */
}

.asteroid:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.asteroid:active {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.miners {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.upgrades {
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.asteroid-bg {
    z-index: -1;
    position: fixed;
    background: url("images/space-bg.png");
    height: 100vh;
    width: 100vw;
    animation: slideSpaceBg 20s linear infinite;
    opacity: 50%;
}

.stars-bg {
    z-index: -2;
    position: fixed;
    background: url("images/stars.png");
    height: 100vh;
    width: 100vw;
    animation: slideStarsBg 45s linear infinite;
    opacity: 100%;
}

@keyframes slideSpaceBg {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -1597px;
    }
}

@keyframes slideStarsBg {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -1080px;
    }
}

.miner-button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    width: 275px;
	font-size:12px;
    text-align: center;
	font-weight:bold;
	padding:11px 0px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.miner-button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.miner-button:active {
	position:relative;
	top:1px;
}
